body {
  background-image: url("../images/bgfull.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#contentWrapper {
  position: relative;
  width: 90%;
  top: 350px;
  float: right;
  border-width: 1px;
  border-color: black;
}

#contactBlock {
  height: 300px;
  text-align: center;
}

.contactIcons {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 15%;
  border-radius: 100%;
  border: 5px solid #e95420;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.contactIcons h3 {
  text-align: center;
  position: relative;
  top: 100px;
}

.contentBlock {
  position: relative;
  height: auto;
  left: 33.5px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.title {
  text-align: center;
  margin-top: 25px;
  padding: 10px;
}

.content {
  margin: 20px;
  padding: 10px;
}
