body {
  overflow-x: hidden;
}

#homeBanner {
  position: relative;
  background-image: url("../images/bluebg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 550px;
  width: 100%;
  left: 4.1em;
  z-index: -1;
}

#contentWrapper {
  margin-left: 10%;
  height: 20%;
  border-width: 1px;
  border-color: black;
  width: 90%;
  display: grid;
  position: relative;
  left: 4.1em;
}


#contactBlock {
  height: 300px;
  text-align: center;
}


#phoneNum {
  margin-top: -20px;
}

#expContent {
}

.contactIcons {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 15%;
  border-radius: 100%;
  border: 5px solid #e95420;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.contactIcons h3 {
  text-align: center;
  position: relative;
  top: 100px;
}

.contentBlock {
}

.contentBlock table {
  margin: 20px;
  width: 100%;
  text-align: center;
}

.title {
  text-align: center;
  margin-top: 25px;
  padding: 10px;
}

.content {
  margin: 20px;
}
